@charset "UTF-8";

.section_login {
	position: relative;
	height: 118px;
	background: #fff;
}

div {
	display: block;
}

.container {
	text-align: left;
}

body {
	font-size: 12px;
	font-family: Dotum, '돋움', Helvetica, "Apple SD Gothic Neo", sans-serif;
}

.lg_local {
	padding: 15px 25px;
}

.lg_local .lg_local_text {
	color: #888;
	font-size: 12px;
	line-height: 14px;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin: 0;
	padding: 0;
}

.lg_local .lg_local_btn {
	display: block;
	margin-top: 12px;
}

a {
	text-decoration: none;
	color: #666;
}

a:-webkit-any-link {
	cursor: pointer;
}

.lg_local {
	padding: 15px 25px;
}

.lg_links {
	position: absolute;
	bottom: 0;
	left: 25px;
	overflow: hidden;
	width: 280px;
}

.lg_links .lg_link_join {
	float: right;
	color: #666;
	display: block;
	font-size: 12px;
	line-height: 38px;
}

.lg_local .ico_local_login.lang_ko {
	width: 280px;
	height: 37px;
	background-position: 0 -47px;
	background-image:
		url(https://s.pstatic.net/static/www/img/2018/sp_login_v180727.png);
	background-repeat: no-repeat;
	display: block;
}

.lg_local .ico_local_login.lang_ko1 {
	width: 280px;
	height: 38px;
	background-color: green;
	display: block;
	font-size:20px;
	text-align: center;
	color: white;
	padding-top:10px;
}

.lg_links .lg_link_find {
	color: #666;
	display: block;
	font-size: 12px;
	line-height: 38px;
}

