@charset "UTF-8";

#d01{width:300px; height:300px;
margin:30px auto; background:yellow;border:2px solid red;}

#d02{width:500px; height:500px;
background:green;border:2px solid black;margin:30px auto;}

p{font-size:20px;text-align: center;}
