@charset "UTF-8";

body{height:2000px;}

div{
	width:300px; height:300px;
	background: yellow;
	margin:30px auto;
	border:1px solid black;
}

p{font-size:20px;text-align: center;
  padding-top: 100px;}
  
img{width:200px;height:200px;/* display: block; margin: 0px auto; */}