<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>jsp_0402_02</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	
	
	<context-param><!-- 모든 서블렛에서 가능 -->
	<param-name>id</param-name>
	<param-value>master</param-value>
</context-param>
	<context-param><!-- 모든 서블렛에서 가능 -->
		<param-name>pw</param-name>
		<param-value>12345</param-value>
	</context-param>
	
	<listener>
	<listener-class>com.javalec.ex.ContextListen</listener-class>
	</listener>
	


	<!-- <servlet>
		<servlet-name>Servlet_config</servlet-name>
		<servlet-class>com.javalec.ex.Servlet_config</servlet-class>
		<init-param> 특정 서블렛에서만 가능
			<param-name>id</param-name>
			<param-value>admin</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>1234</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Servlet_config</servlet-name>
		<url-pattern>/SC</url-pattern>
	</servlet-mapping>
 -->

</web-app>





