@charset "UTF-8";

form{width:900px; height:600px; font-size:17px; margin:0 auto;}
label{width:100px; height:30px; text-align: center;}
input{width:100px; height:30px; margin:10px;}
span{color:red;}