@charset "UTF-8";

h2 { /* <style> 주석*/
	width: 1120px;
	height: 22px;
	padding: 50px 0 20px;
	border-bottom: 2px solid black;
	font-size: 22px;
	margin: 0 auto;
}

span {
	color: #444;
	font-size: 18px;
	font-weight: bold;
	width: 300px;
	display: inline-block;
}

ul {
	list-style-type: none;
	width: 900px;
	padding-top: 30px;
	margin: 0 auto;
}

li {
	height: 50px;
	font-size: 18px;
}

input, select {
	font-size: 18px;
	width: 300px;
}

.s{
	width: 20px;
}

